header {
  padding-bottom: 100px;
}

#g-nav-list ul {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
}

#g-nav-list ul li {
  padding: 25px;
  background-color: #261c1d;
}

#g-nav-list ul li a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

#g-nav-list ul li a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-animation-name: hover;
          animation-name: hover;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

h2 {
  width: 80%;
  margin: 0 auto;
  font-size: 3rem;
  padding: 100px 0 50px 0;
  text-align: center;
  border-bottom: 3px solid #395370;
  position: relative;
  font-family: 'Yeseva One', cursive;
}

h2::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 3px solid #f8cec1;
  bottom: -3px;
  width: 30%;
}

.work1 a,
.work2 a {
  display: block;
}

.work1 a:hover {
  -webkit-box-shadow: 6px 6px 21px -3px rgba(52, 41, 66, 0.8);
  -ms-box-shadow: 6px 6px 21px -3px rgba(52, 41, 66, 0.8);
  box-shadow: 6px 6px 21px -3px rgba(52, 41, 66, 0.8);
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.work2 a:hover {
  -webkit-box-shadow: 6px 6px 21px -3px rgba(52, 41, 66, 0.8);
  -ms-box-shadow: 6px 6px 21px -3px rgba(52, 41, 66, 0.8);
  box-shadow: 6px 6px 21px -3px rgba(52, 41, 66, 0.8);
  cursor: pointer;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
}

.site img {
  text-align: center;
  width: 300px;
}

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.banner img {
  text-align: center;
  width: 300px;
}

.banner1:hover {
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.banner2:hover {
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

.banner,
.flyer {
  padding-top: 100px;
  padding-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.flyer1:hover {
  -webkit-transform: scale(3);
          transform: scale(3);
  -webkit-transition: all ease-in 0.8s;
  transition: all ease-in 0.8s;
}

footer {
  width: 100%;
  background-color: #261c1d;
}

footer p {
  text-align: center;
  padding: 30px;
  color: #fff;
}

@media (max-width: 750px) {
  .site {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=works.css.map */