@charset "UTF-8";
html {
  font-size: 16px;
}

body {
  width: 100%;
  background-color: #F2EFE9;
}

header {
  height: 100vh;
}

header img {
  width: 100%;
  height: 100%;
}

h1 {
  padding: 50px;
  color: #fff;
  background-color: rgba(149, 127, 172, 0.8);
  border-radius: 40px;
  z-index: 3;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: contain;
     object-fit: contain;
}

h1 span {
  font-size: 1.5rem;
}

#g-nav-list ul {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 0;
  right: 0;
}

#g-nav-list ul li {
  padding: 25px;
  background-color: #261c1d;
}

#g-nav-list ul li a {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
}

#g-nav-list ul li a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-animation-name: hover;
          animation-name: hover;
  -webkit-transition: all ease-in 0.5s;
  transition: all ease-in 0.5s;
}

h2 {
  width: 80%;
  margin: 0 auto;
  font-size: 3rem;
  padding: 100px 0 50px 0;
  text-align: center;
  border-bottom: 3px solid #395370;
  position: relative;
}

h2::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 3px solid #f8cec1;
  bottom: -3px;
  width: 30%;
}

.intro {
  padding-top: 100px;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

.intro img {
  border-radius: 200px 100px 50px 30px / 180px 150px 70px 30px;
}

.my-name {
  font-size: 2rem;
}

.wrap {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 300px;
  text-align: center;
  line-height: 1.7;
}

#kingdom,
#udemy {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 15px;
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.hoo {
  width: 50%;
  height: 100px;
}

#kingdom,
#udemy {
  font-size: 1rem;
  vertical-align: middle;
  line-height: 2;
  text-align: left;
  position: relative;
  padding: 1.2em;
  border: 2px solid #ed6d7c;
  /* 枠線の太さ・色 */
  color: #555555;
  /* 文字色 */
  -webkit-box-shadow: 2px 2px 1px #c7c7c7;
          box-shadow: 2px 2px 1px #c7c7c7;
  /* 影の色 */
  border-radius: 8px;
  /* 角の丸み */
}

.title-kingdom,
.title-udemy {
  position: absolute;
  left: 20px;
  /*（left）に変更すると左 */
  top: -15px;
  padding: 0 .5em;
  font-weight: bold;
  font-size: 1em;
  color: #522b3d;
  background-color: #F2EFE9;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.list:nth-of-type(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.list:nth-of-type(3) {
  padding-bottom: 300px;
}

.pic img {
  border-radius: 30px;
}

.pic {
  position: relative;
}

.pic::before, .pic::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.pic::before {
  top: -15px;
  right: -15px;
  border-width: 0 80px 80px 0;
  border-color: transparent #d8c7d2 transparent transparent;
}

.pic::after {
  bottom: -15px;
  left: -15px;
  border-width: 80px 0 0 80px;
  border-color: transparent transparent transparent #d8c7d2;
}

.textLove {
  line-height: 2;
}

.textLove span {
  font-size: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(60%, #bf589c));
  background: linear-gradient(transparent 60%, #bf589c 60%);
}

footer {
  width: 100%;
  background-color: #261c1d;
}

footer p {
  text-align: center;
  padding: 30px;
  color: #fff;
}

@media (max-width: 376px) {
  h2 {
    font-size: 1rem;
    padding: 50px 0 25px 0;
  }
  .my-name {
    text-align: center;
    font-size: 1.5rem;
  }
  .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .wrapdd {
    width: 90%;
    margin: 0 auto;
  }
  .intro {
    padding: 50px 25px;
    gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .intro img {
    width: 300px;
  }
  .intro1 {
    padding-bottom: 50px;
  }
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  .list:nth-of-type(3) {
    padding-bottom: 100px;
  }
  .list:nth-of-type(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #kingdom {
    width: 100%;
    font-size: 0.8rem;
  }
  #udemy {
    width: 100%;
    font-size: 0.8rem;
  }
  .pic img {
    text-align: center;
    width: 100%;
  }
  .hoo {
    width: 100%;
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */